<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo.done ? "Yes" : "No" %>
  </p>

  <p>
    <%= button_to (todo.done ? "Mark as not done" : "Mark done"), todo_path(todo), method: :patch, params: { todo: { done: (!todo.done) } } %>
  </p>
</div>
